.splide {
  @apply pl-[20px] w-[1075px] mx-auto;

  .splide__track {
    @apply rounded-xl border-2 border-transparent;
    transition: border-color 0.125s ease-in;
    &.active {
      @apply border-white;
    }
  }

  .splide__slide {
    background-size: 110%;
    transition: background-size 4s ease-in;

    .slide-logo {
      @apply opacity-0;
      transform: translateY(-30px);
      transition:
        opacity 0.5s ease-in,
        transform 0.5s ease-out;
    }
    &.is-active {
      background-size: 100%;

      .slide-logo {
        @apply opacity-100;
        transform: translateY(0);
      }
    }
    &:focus-visible {
      @apply outline-none outline-offset-0;
    }
  }
  &.is-focus-in .splide__slide:focus {
    outline: none !important;
  }
}

