@use "reset";
@use "modal";
@use "banner";

body {
  font: 16px regular 1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #023;
  background-image: linear-gradient(to bottom, #0000 0%, #0009 100%);
  background-attachment: fixed;;
  background-repeat: no-repeat;
}

#screen {
  display: flex;
  flex-direction: column;
  aspect-ratio: 16 / 9;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  overfow: hidden;
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  color: white;
  overflow: hidden;
  width: 100%;
  max-height: 670px;
  scroll-behavior: smooth;
  &.message {
    margin-right: auto;
    height: 100vh;
    width: calc( 8 / 12 * 100%);
    text-align: center;
  }
}

.category {
  padding: 0.5rem 0 0.5rem 1rem;
  &:last-child {
    margin-botom: 50px;
  }
  h4 {
    margin-left: 0.5rem;
  }
}

.slider {
  margin-left: -1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  scroll-behavior: smooth;
}

.item-tile {
  z-index: 0;
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background: no-repeat center/25% url(../images/spinner.gif) #FFF3;
  box-shadow: 0px 3px 10px #000C;
  flex: 0 0 auto;
  transition: 
    border 0.1s ease-out,
    box-shadow 0.5s ease-out,
    transform 0.5s ease-out;

  &:first-child {
    margin-left: 0;
  }
  &.placeholder {
    aspect-ratio: 16 / 8;
    width: 200px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
    animation: breathe 0.75s infinite alternate ease-in-out;

    &:nth-of-type(1) { animation-delay: 0s; }
    &:nth-of-type(2) { animation-delay: 0.2s; }
    &:nth-of-type(3) { animation-delay: 0.4s; }
    &:nth-of-type(4) { animation-delay: 0.6s; }    
  }
  img {
    width: 200px;
    height: 113px;
    border: 1px solid black;
    filter: brightness(1);
    transition: filter 0.25s ease-out;
  }
  &:last-child {
    margin-right: 200px;
  }
  &:focus,
  &:focus-visible {
    z-index: 10;
    outline: 2px solid white;
    outline-offset: 4px;
    border-radius: 0.5rem;
    transform: scale3d(1.1, 1.1, 1);
    box-shadow: 0px 7px 25px #000F;
    transition: 
      border 0.1s ease-in,
      box-shadow 0.35s cubic-bezier(0.12, 3.04, 0.63, -0.09),
      transform 0.35s cubic-bezier(0.12, 3.04, 0.63, -0.09);
    img {
      filter: brightness(1.05);
      transition-timing-function: cubic-bezier(0, 23, 1, 1);
    }
  }
}

@keyframes breathe {
  0% { background-color: #666;}
  100% { background-color: #999; }
}

.button {
  display: flex;
  background-color: white;
  padding: 0.25rem 0.75rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-radius: 0.25rem;
  color: black;
  &:focus {
    outline: 2px solid white;
    outline-offset: 4px;
  }
}
